@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-dark-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-dark-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-dark-rgb));
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-slate-100 transition-colors;
  }
  .group-link {
    @apply rounded-lg text-white text-xl font-bold px-2 py-1 h-20 w-52;
  }
}
